@font-face {
    font-family: 'Gropled';
        src: url('https://cdn.jsdelivr.net/gh/romaniter/fonts@main/Gropled-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
      }
