@font-face {
    font-family: 'ST-Brigantina';
        src: url('https://cdn.jsdelivr.net/gh/romaniter/fonts@main/ST-Brigantina.otf') format('opentype');
    font-weight: regular;
    font-style: normal;
      }
